<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryManagementSystem.Properties.Settings.NaloziZaposlenihConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NaloziZaposlenih.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.DataBaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.DataBaseAccountsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBaseAccounts.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.cn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBaseAllAccounts.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.LocalDatabaseAllAccountsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalDatabaseAllAccounts.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.LocalDataBaseAllQuestionsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalDataBaseAllQuestions.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.LocalDataBaseAllBooksConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalDataBaseAllBooks.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.LocalDataBaseAllBorrowedBooksConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalDataBaseAllBorrowedBooks.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>